<personal-page>

    <div>
        <h1>Personal stuff</h1>
        <ol>
            <li>my followers</li>
            <li>Followed</li>
            <li>My creations</li>
            <li>My whispers</li>
            <li>My comments</li>
            <li>My drafts</li>
        </ol>
    </div>

    <script>

        export default {
            onMounted() {

            },
        }

    </script>

</personal-page>